{% extends ('::base.html.twig') %}
{% block navbar_upload %}active{% endblock %}
{% form_theme form _self %}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <div class="btn-group"  data-toggle="buttons"{{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <radio value=""{% if required and value is empty %} selected="selected"{% endif %}/>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <input type="radio" name="" class="btn" disabled="disabled" />{{ separator }}
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </div>
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_options -%}
{% for group_label, choice in options %}
    {%- if choice is iterable -%}
        <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
            {% set options = choice %}
            {{- block('choice_widget_options') -}}
        </optgroup>
    {%- else -%}
        {% set attr = choice.attr %}
        <label class="btn btn-default {% if choice is selectedchoice(value) %} active{% endif %}">
            <input type="radio" value="{{ choice.value }}" {{ block('widget_attributes') }} {{ block('attributes') }}{% if choice is selectedchoice(value) %} checked="checked"{% endif %}/>
            {{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}
        </label>
    {%- endif -%}
{% endfor %}
{%- endblock choice_widget_options -%}

{% block body %}
    <div class="well well-lg text-center">
        <h1>Envoyer votre fichier</h1>
        <br />
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        <div class="form-group">
            {# Génération du label. #}
            {# form_label(form.tmpFile, "Fichier", {'label_attr': {'class': 'col-sm-3 col-sm-offset-2 control-label'}}) #}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.tmpFile) }}

            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="col-sm-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.tmpFile, {'attr': {'class': 'file','data-show-upload':'false','data-show-caption':'false'}}) }}
                </div>
                <div class="well text-primary">Taille limite : 10Mo</div>
            </div>
            <div class="col-xs-12 col-md-6">
                <h4 class="col-xs-12">Durée de vie</h4>
                <div class="col-xs-12">
                    {{ form_widget(form.lifetime, {'attr': {'class': 'form-control btn-group'}}) }}
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                    <h4 class="col-xs-12 ">Supprimer au premier téléchargement</h4>
                <div class="col-sm-12">
                    {{ form_widget(form.onedownload, {'attr': {'class': 'form-control btn-group'}}) }}
                </div>
            </div>
        </div>
        {{  form_widget(form.envoyer, {'attr': {'class': 'btn btn-bg btn-primary'}}) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block css %}
<link href="{{ asset('static/css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}

<script src="{{ asset('/static/js/fileinput.js') }}"></script>
<script src="{{ asset('/static/js/fileinput_locale_fr.js') }}"></script>

{% endblock %}